.blink {
    position: fixed;
    top: 0;
    left: -50vw;
    width: 200vw;
    height: 100vh;
    z-index: 999999;
    background-image: radial-gradient(circle,transparent 0,#000 100%);
    animation: .4s ease-in-out blink;
    opacity: 0
}

@keyframes blink {
    0% {
        background-color: rgba(0,0,0,0);
        opacity: 0
    }

    50% {
        background-color: rgba(0,0,0,.8);
        opacity: 1
    }
}
